* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
  color: black;
}

/* HEADER */
header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

/* PRODUCTOS */
.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 40px;
  gap: 30px;
}

.producto {
  text-align: center;
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto h3 {
  margin: 10px 0;
}

.producto p {
  font-weight: bold;
  margin-bottom: 10px;
}

/* BOTÓN MINIMALISTA */
button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #333;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ddd;
}


body {
  background-color: white;
}

/* BARRA NEGRA MÁS GRANDE */
.top-bar {
  background-color: black;
  padding: 30px 60px; /* más gruesa */
}

/* CONTENEDOR */
.nav-container {
  display: flex;
  align-items: center;
}

/* AGRUPA LOGO + TEXTO */
.brand {
  display: flex;
  align-items: center;
  gap: 15px; /* espacio entre logo y texto */
}

/* LOGO MÁS GRANDE */
.logo {
  width: 70px;
}

/* TEXTO GYM GODS */
.brand h1 {
  color: white;
  font-size: 1.8rem;
  letter-spacing: 3px;
  font-weight: 600;
}