* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: white;
  color: black;
}

/* HEADER */
header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

/* HERO */
.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

/* PRODUCTOS */
.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 40px;
  gap: 30px;
}

.producto {
  text-align: center;
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto h3 {
  margin: 10px 0;
}

.producto p {
  font-weight: bold;
  margin-bottom: 10px;
}

/* BOTÓN MINIMALISTA */
button {
  background-color: white;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #333;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #ddd;
}


body {
  background-color: white;
}

/* BARRA MÁS GRANDE */
.top-bar {
  background-color: black;
  padding: 35px 70px; /* más alto y ancho */
}

/* CONTENEDOR PRINCIPAL */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LOGO + TEXTO */
.brand {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* LOGO MÁS GRANDE */
.logo {
  width: 100px;
}

/* TEXTO GYMGODS */
.brand h1 {
  color: white;
  font-size: 2.5rem; /* mucho más grande */
  letter-spacing: 4px;
  font-weight: 700; /* más fuerte */
}

/* MENÚ DERECHA */
.menu {
  display: flex;
  gap: 25px;
}

/* LINKS */
.menu a {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  transition: 0.3s;
}

/* HOVER (efecto pro) */
.menu a:hover {
  opacity: 0.7;
}